@font-face {
    font-family: 'archisticobold';
    src: url('Archistico_Bold-webfont.eot');
    src: url('Archistico_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Archistico_Bold-webfont.woff') format('woff'),
         url('Archistico_Bold-webfont.ttf') format('truetype'),
         url('Archistico_Bold-webfont.svg#archisticobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FFFTusj';
    src: url('FFF_Tusj-webfont.eot');
    src: url('FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('FFF_Tusj-webfont.woff') format('woff'),
         url('FFF_Tusj-webfont.ttf') format('truetype'),
         url('FFF_Tusj-webfont.svg#archisticobold') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	background-color: #c7d5b7;
	/*font-family:Arial, Helvetica Neue, Helvetica, sans-serif;*/
	font-family:Georgia, Palatino, Times New Roman, Times, ;
	background-image: url("gauche.jpg"), url("droite.jpg");
	background-position: 0% 0%, 100% 0%;
	background-repeat: repeat-y;
	margin-left: 0;
    margin-right: 0;
}

body {
	text-align:center;
}

.body-wrapper {
	display: flex;
    flex-direction: column;
    min-height: 100vh;
	padding: 8px;
	box-sizing: border-box;
	
	background-color: #c7d5b7;
    margin: -8px auto;
    max-width: 925px;
}

.page-content {
	flex: 1;
	text-align:left;
	margin: 1em;
}


a { 
	color: inherit; 
	text-decoration:none;
	font-weight: bold;
} 

img {
	max-width:100%;
}


.site-title {
	font-family: 'FFFTusj';
	font-weight: normal;
	font-size: 4em;
}

.subtitle {
	font-weight: bold;
	font-style: italic;
	margin-top:1em;
}

nav {
	text-align:center;
	/*font-style: italic;*/
	font-size: 1.2em;
}

nav ul {
	padding-left: 0;
	list-style: none outside none;
}

nav li {
	display:inline;
	margin:.8em;
	font-weight:bold;
}


.breadcrumb { 
  color: #147F1E;
}

.categories, .prods {
	margin-left: auto;
	margin-right: auto;
}

.prods {
	max-width: 492px;
}

.categories {
	padding:0;
	list-style: none outside none;
}
.categories li {
	float: left;
	text-align:center;
	margin: 1em;
	font-weight: 700;
	border: solid green;
	border-radius:5px;
}
.categories li img {
	max-height: 250px;
	overflow: hidden;
	margin-bottom:-5px;
}
.categories a {
	text-decoration:none;
}

.prods {
	padding:0;
	list-style: none outside none;
	text-align: left;
}
.prods li {
	display: inline-block;
	margin: 2px;
}
.prods li img {
	max-height: 200px;
	max-width: 160px;
	overflow: hidden;
	vertical-align: bottom;
}
.prods li a {
	text-decoration:none;
}

footer {
	clear:both;
	border-top: 2px solid black;
	margin: 1em;
	padding-top: 1em;
}

.centered {
	text-align:center;
}



@media (max-width: 600px) {
	body, .body-wrapper {
		background-color:redd;
	}
	*[data-shorttitle] span {
		display: none;
	}
	*[data-shorttitle]:after {
		content: attr(data-shorttitle);
	}
	nav {
		font-size: 1em;
	}
	nav ul {
		margin-bottom:0;
	}
	nav li {
		margin:.2em;
	}
	.categories li {
		float:none;
	}
	.categories li img {
		max-height:none;
		width:100%;
	}
	.site-title {
		font-size:3em;
	}
	.prods li,.prods li img {
		max-height:none;
		max-width:100%;
	}
}
