@font-face {
    font-family: 'archisticobold';
    src: url('Archistico_Bold-webfont.eot');
    src: url('Archistico_Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('Archistico_Bold-webfont.woff') format('woff'),
         url('Archistico_Bold-webfont.ttf') format('truetype'),
         url('Archistico_Bold-webfont.svg#archisticobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'FFFTusj';
    src: url('FFF_Tusj-webfont.eot');
    src: url('FFF_Tusj-webfont.eot?#iefix') format('embedded-opentype'),
         url('FFF_Tusj-webfont.woff') format('woff'),
         url('FFF_Tusj-webfont.ttf') format('truetype'),
         url('FFF_Tusj-webfont.svg#archisticobold') format('svg');
    font-weight: normal;
    font-style: normal;
}


body {
	background-color: #c7d5b7;
}

body {
	text-align:center;
}

a { color: inherit; } 

.site-title {
        font-family: 'FFFTusj';
	font-size: 4em;
}

.site-nav {
	text-align:center;
}



