    <nav>
	  <ul>
{% assign url = page.url | remove: 'index.html' %}
{% assign pages = site.pages | sort: 'title' | sort: 'weight' %}
        {% for page in pages %}
          {% if page.title and page.type == 'nav' %}
		    {% if page.shorttitle %}
				{% assign shorttitle = page.shorttitle %}
			{% else %}
				{% assign shorttitle = page.title %}
			{% endif %}
			{% assign onepageurl = page.url | remove: 'index.html' %}

            {% assign hassubpage = false %}
	{% for onesubpage in pages %}
      {% assign onesubpageurl = onesubpage.url | remove: "index.html" %}
	  {% if onesubpage.layout == 'categorie' or onesubpage.layout == 'subpage' %}
	  {% if onesubpageurl contains onepageurl %}
            {% assign hassubpage = true %}
	  {% endif %}
	  {% endif %}
	{% endfor %}

			
			{% if url contains onepageurl %}
			  <li class="breadcrumb">
			{% else %}
			  <li>
			{% endif %}
			{% if onepageurl == url %}
				<span data-shorttitle="{{ shorttitle }}"><span>{{ page.title }}</span><span>
			{% else %}
				{% if hassubpage %}
					<a href="#subnavig"><span data-shorttitle="{{ shorttitle }}"><span>{{ page.title }}</span></span></a>
				{% else %}
					<a href="{{ onepageurl | prepend: site.baseurl }}"><span data-shorttitle="{{ shorttitle }}"><span>{{ page.title }}</span></span></a>
				{% endif %}
			{% endif %}

				{% if hassubpage %}
				{% unless url contains onepageurl %}
    <nav id="subnavig" class="subnavig">

<ul>
	{% for onesubpage in pages %}
      {% assign onesubpageurl = onesubpage.url | remove: "index.html" %}
	  {% if onesubpage.layout == 'categorie' or onesubpage.layout == 'subpage' %}
	  
	  {% if onesubpageurl contains onepageurl %}
			{% if onesubpage.shorttitle %}
				{% assign shortsubtitle = onesubpage.shorttitle %}
			{% else %}
				{% assign shortsubtitle = onesubpage.title %}
			{% endif %}
			{% if url contains onesubpageurl %}
			  <li class="breadcrumb">
			{% else %}
			  <li>
			{% endif %}
			{% if onesubpageurl == url %}
				<span data-shorttitle="{{ shortsubtitle }}"><span>{{onesubpage.title }}</span></span>
			{% else %}
				<a href="{{ onesubpageurl | prepend: site.baseurl }}"><span data-shorttitle="{{ shortsubtitle }}"><span>{{onesubpage.title }}</span></span></a>
			{% endif %}
	  {% endif %}
	  {% endif %}
	{% endfor %}
<li><a href="https://comptoirdeslaines.be/shop/a-pas-feutres-boutique?flag=1"><span data-shorttitle="Boutique"><span>Boutique</span></span></a></li>
</ul>	  

	  </nav>			
		{% endunless %}
		{% endif %}

		  {% endif %}
        {% endfor %}
      </ul>
    </nav>


