{% assign url = page.url | remove: "index.html" %}

    <nav>

<ul>
	{% for onepage in site.pages %}
      {% assign onepageurl = onepage.url | remove: "index.html" %}
	  {% if onepage.layout == 'categorie' %}
			{% if url contains onepageurl %}
			  <li class="breadcrumb">
			{% else %}
			  <li>
			{% endif %}
			{% if onepageurl == url %}
				{{onepage.title }}
			{% else %}
				<a href="{{ onepageurl | prepend: site.baseurl }}">{{ onepage.title }}</a>
			{% endif %}
	  {% endif %}
	{% endfor %}
</ul>	  

	  </nav>