{% assign url = page.url | remove: "index.html" %}

    <nav>

<ul>
{% assign pages = site.pages | sort: 'title' | sort: 'weight' %}
	{% for onepage in pages %}
      {% assign onepageurl = onepage.url | remove: "index.html" %}
	  {% if onepage.layout == 'categorie' or onepage.layout == 'subpage' %}
			{% if onepage.shorttitle %}
				{% assign shorttitle = onepage.shorttitle %}
			{% else %}
				{% assign shorttitle = onepage.title %}
			{% endif %}
			{% if url contains onepageurl %}
			  <li class="breadcrumb">
			{% else %}
			  <li>
			{% endif %}
			{% if onepageurl == url %}
				<span data-shorttitle="{{ shorttitle }}"><span>{{onepage.title }}</span><span>
			{% else %}
				<a href="{{ onepageurl | prepend: site.baseurl }}"><span data-shorttitle="{{ shorttitle }}"><span>{{onepage.title }}</span><span></a>
			{% endif %}
	  {% endif %}
	{% endfor %}
</ul>	  

	  </nav>