---
layout: page
---

{% assign url = page.url | remove: "index.html" %}
<ul class="prods">
	{% for onepage in site.pages | sort 'url' %}
	  {% assign onepageurl = onepage.url | remove: "index.html" %}
	  {% if onepageurl contains url and onepageurl != url %}
			<li><a href="{{ onepageurl }}"><div>{{ onepage.title }}</div><img src="{{ onepageurl }}vignette.png"></a>
	  {% endif %}
	{% endfor %}
</ul>

<div style="clear:both">Pour les modèles sur commande, voici les couleurs disponibles pour l'instant:
{% for gallery in site.data.couleurs_disponibles %}
<img src="/couleurs/{{ gallery }}.png">
{% endfor %}
</div>

{{ content }}
